<!doctype html>
<html>
<head>
    <style>
        div {
            display: inline-block;
            margin-right: 100px;
            vertical-align: top;
        }
    </style>
    <title>Students and Projects</title>
</head>

<body>
    <div>
        Students:
        <ul>
            {% for student in students %}
            <li><a href="/student?github={{ student[2] }}">{{ student[0] }} {{ student[1] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        Projects:
        <ul>
            {% for project in projects %}
            <li><a href="/project?project={{ project[0] }}">{{ project[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>

  
</body>
</html>
